* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 20;
}

body {
  background: #009999;
}

.navbar {
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 0px;
  text-align: center;
  padding: 5px;
  /*margin-left: 5%;*/
  /*position: relative;*/
  /*top: 250px;*/
}

.navbar > h3 {
  display: inline;
  margin: 8%;
  cursor: pointer;
}

#main-wrapper {
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  background: grey;
}

.slideshow-image {
  width: 640px;
  height: 360px;
}

#slider_container {
  overflow: hidden;
}

#main-img {
  width: 80%;
}

.row {
  margin-left: 2%;
  margin-right: 2%;
}
