* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 20;
}

body {
  background: #70DBDA;
}

.navbar {
  background-color: #A8A8A8;
  border-radius: 15px 15px 0 0;
  border: none;
  text-align: center;
  padding: 5px;
  margin-bottom: 0;
}

.navbar > .row > .col-sm-9 {
  margin: 1% 0;
}

.navbar > .row > .col-sm-3 {
  margin: .5% 0;
}

.navbar > .row > .col-sm-9 > h3 {
  display: inline;
  margin: 8%;
  cursor: pointer;
}

.navbar > .row > .col-sm-3 > h1 {
  display: inline;
  margin: 0
}

#main-wrapper {
  width: 70%;
  /*max-width: 900px;*/
  position: absolute;
  /*top: 5%;
  left: 10%;*/
  /*margin-bottom: 10%;*/
  margin: 3% auto;
  padding-bottom: 3%;
  background: #ffffff;
  border-radius: 15px;
}

.slideshow-image {
  width: 640px;
  height: 360px;
}

#slider_container {
  overflow: hidden;
}

#main-img {
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.main-inner {
  /*margin-left: 5%;
  margin-right: 5%;*/
}

.text-block {
  margin: 3%;
}
