<div>
  <h1>Boulay Inn</h1>

  <div class="row">
    <img src="../img/beach1.jpg" alt="beach1" id="main-img"/>
  </div>
  <div class="row">
    <p>
      Lorem ipsum dolor sit amet, consulatu democritum constituam et sed, vis ex eripuit tacimates. Ei mea tale reprimique, qui dicta ridens percipit ei. Quando oratio diceret qui eu. Per quidam verterem et. Eu quo legere aliquam torquatos, et eam rebum exerci integre. Dictas recusabo ea vix, te wisi dolore per, eum choro consul commodo id.
    </p>
    <p>
      Mollis recusabo definiebas cum te, ea nam feugiat omnesque. Ut illum appareat cum, id quem senserit nam. Tollit indoctum molestiae no usu, id eos prima nostrum. Mei ad quodsi voluptua, bonorum constituam sea ad, dicam percipit facilisi ne sed. Idque deserunt ex vim, vix an ubique referrentur.
    </p>
    <p>
      Eum solum denique patrioque ne, quis utinam suscipit no sea, eum saepe vituperata cu. Per gubergren vulputate ad, sed in vitae latine. Prima fugit munere id quo, ut mei debet labore neglegentur, pro ex vocibus suavitate. Mei congue aliquid ex, iisque tibique reformidans cu his, ut impetus sensibus accommodare has
    </p>
  </div>
</div>

<!-- <div id="slider_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
  <div data-u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
    <div>
      <img data-u="image" src="../img/beach1.jpg" alt="beach1" />
    </div>
    <div>
      <img data-u="image" src="../img/beach2.jpg" alt="beach1" />
    </div>
    <div>
      <img data-u="image" src="../img/beach3.jpg" alt="beach1" />
    </div>
  </div>
</div> -->
